body.w3css-app-launch {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.w3css-app-launch h1,
.w3css-app-launch h2,
.w3css-app-launch h3 {
  font-family: 'Poppins', sans-serif;
}

body.w3css-app-launch.w3-content {
  max-width: 1500px;
}

.w3css-app-launch img {
  widows: 100%;
  height: auto;
}

.w3css-app-launch .usr-slide-caption {
  width: 35%;
}

.w3css-app-launch .usr-btn-slide {
  @media (min-width: @tabletWidth) {
    position: absolute;
    top: 50%;
    right: 16px;

    border-radius: 8px;

    transform: translate(0, -50%);
  }
}
