/*@import 'global/normalize.less';*/
/* @font-face {
  font-family: 'Poppins';
  src: url('../../fonts/woff2/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/woff2/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
} */
/* переменные css */
:root {
  /* переменные цвета */
  --colorWhite: #ffffff;
  --colorBlack: #000000;
}
/* переменные less */
/* переменные вьюпорта */
/* центровщик */
/* переменные плотности экрана */
/* центровщик контента */
/* кастомный фокус */
/* параметры текста mibile */
/* параметры текста tablet */
/* параметры текста desktop */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100vh;
  min-width: 280px;
}
/* только для скринридера */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/* настройки кастомного фокуса */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}
/* сслыка пропуска меню */
.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  padding: 10px;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.skip-link:focus {
  top: 0;
}
/*standart tag*/
textarea {
  resize: vertical;
}
footer {
  flex-grow: 1;
}
.w3css-gourment-catering .usr-menu {
  width: 100%;
}
@media (min-width: 601px) {
  .w3css-gourment-catering .usr-menu {
    width: auto;
  }
}
.w3css-gourment-catering img {
  width: 100%;
  height: auto;
}
.w3css-gourment-catering .usr-main-image {
  max-width: 1600px;
}
.w3css-gourment-catering address {
  font-style: normal;
}
