/*@import 'global/normalize.less';*/
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/woff2/Oswald-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/woff2/Raleway-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/woff2/Montserrat-Regular.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/woff2/Montserrat-Bold.woff2') format('woff2-variations');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/woff2/OpenSans-Regular.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/woff2/OpenSans-Bold.woff2') format('woff2-variations');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* переменные css */
:root {
  /* переменные цвета */
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorBlack2: #222222;
  --colorGrey: #757575;
  --colorRed: #f44336;
}
/* переменные less */
/* переменные вьюпорта */
/* центровщик */
/* переменные плотности экрана */
/* центровщик контента */
/* кастомный фокус */
/* параметры текста mibile */
/* параметры текста tablet */
/* параметры текста desktop */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100vh;
  min-width: 280px;
}
/* только для скринридера */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/* настройки кастомного фокуса */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.js-focus-visible footer .focus-visible {
  outline: 2px solid var(--colorWhite);
}
.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}
/* сслыка пропуска меню */
.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  padding: 10px;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.skip-link:focus {
  top: 0;
}
/*standart tag*/
figure {
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
footer {
  flex-grow: 1;
}
.usr-show {
  display: block;
}
.usr-hidden {
  display: none;
}
.usr-main-page ul a {
  text-decoration: none;
}
/*burger*/
.usr-burger {
  position: absolute;
  top: 28px;
  right: 32px;
  z-index: 10;
  display: block;
  width: 40px;
  height: 20px;
  padding: 0;
  border: none;
  box-shadow: 0 2px 0 0 var(--colorBlack);
  /*  border-bottom: 2px solid var(--colorBlack);*/
  background-color: transparent;
}
.usr-burger::before,
.usr-burger::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  background-color: var(--colorBlack);
}
.usr-burger::before {
  top: 0;
  left: 0;
  width: 100%;
}
.usr-burger::after {
  top: 50%;
  right: 0;
  width: 100%;
}
.usr-burger--open {
  animation-name: burgerOpen;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--open::after {
  animation-name: burgerAfterOpen;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--open::before {
  animation-name: burgerBeforeOpen;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close {
  animation-name: burgerClose;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close::after {
  animation-name: burgerAfterClose;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close::before {
  animation-name: burgerBeforeClose;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
@keyframes burgerOpen {
  0% {
    box-shadow: 0 2px 0 0 var(--colorBlack);
    /*border-bottom: 2px solid var(--colorBlack);*/
  }
  100% {
    box-shadow: 0 2px 0 0 transparent;
    /*border-bottom: 2px solid transparent;*/
  }
}
@keyframes burgerAfterOpen {
  0% {
    width: 100%;
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translateY(-50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeOpen {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
@keyframes burgerClose {
  0% {
    box-shadow: 0 2px 0 0 var(--colorBlack);
    /*border-bottom: 2px solid var(--colorBlack);*/
  }
  100% {
    box-shadow: 0 2px 0 0 transparent;
    /*border-bottom: 2px solid transparent;*/
  }
}
@keyframes burgerAfterClose {
  0% {
    width: 100%;
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translateY(-50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeClose {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
.w3css-gourment-catering header {
  padding-top: 76px;
}
@media (min-width: 601px) {
  .w3css-gourment-catering header {
    padding-top: 54px;
  }
}
.w3css-gourment-catering .usr-menu {
  width: 100%;
}
@media (min-width: 601px) {
  .w3css-gourment-catering .usr-menu {
    display: block;
    width: auto;
  }
}
.w3css-gourment-catering img {
  width: 100%;
  height: auto;
}
.w3css-gourment-catering .usr-main-image {
  max-width: 1600px;
}
.w3css-gourment-catering address {
  font-style: normal;
}
.w3css-gourment-catering .usr-navbrand {
  width: 130px;
}
@media (min-width: 601px) {
  .w3css-gourment-catering .usr-navbrand {
    width: auto;
  }
}
.js-focus-visible .w3css-gourment-catering footer .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.w3css-architect header {
  padding-top: 54px;
}
.w3css-architect .usr-burger {
  top: 17px;
}
.w3css-architect .usr-menu {
  width: 100%;
}
@media (min-width: 601px) {
  .w3css-architect .usr-menu {
    width: auto;
  }
}
.w3css-architect img {
  width: 100%;
  height: auto;
}
.w3css-architect .w3-content {
  max-width: 1500px;
}
.w3css-architect main.w3-content {
  max-width: 1532px;
}
body.w3css-jane-bloglife {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
}
body.w3css-jane-bloglife h1,
body.w3css-jane-bloglife h2,
body.w3css-jane-bloglife h3,
body.w3css-jane-bloglife .usr-main-caption,
body.w3css-jane-bloglife .usr-main-caption + p,
body.w3css-jane-bloglife .usr-main-photo-caption {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
body.w3css-jane-bloglife .usr-main-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.w3css-jane-bloglife img {
  width: 100%;
  height: auto;
}
.w3css-jane-bloglife ul a {
  text-decoration: none;
}
.w3css-jane-bloglife ul h3,
.w3css-jane-bloglife ul p {
  margin-top: 0;
  margin-bottom: 0;
}
.w3css-jane-bloglife .w3-content {
  max-width: 1600px;
}
.w3css-jane-bloglife .usr-main-photo p {
  margin-top: 0;
  margin-bottom: 10px;
}
.w3css-jane-bloglife .usr-main-photo p:nth-child(2) {
  text-transform: uppercase;
}
.w3css-jane-bloglife .usr-avatar {
  width: 90px;
  height: auto;
}
.w3css-jane-bloglife .usr-avatar-min {
  width: 50px;
  height: auto;
}
.w3css-jane-bloglife .usr-inspiration .usr-inspiration-box {
  padding-top: 16px;
}
.w3css-jane-bloglife .w3-button.w3-mobile {
  margin-bottom: 16px;
}
.w3css-jane-bloglife .w3-button.w3-mobile:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 601px) {
  .w3css-jane-bloglife .w3-button.w3-mobile {
    margin-bottom: 0;
  }
}
.w3css-jane-bloglife .usr-inspiration .w3-col {
  margin-bottom: 16px;
}
.w3css-jane-bloglife main.w3-content {
  max-width: 1632px;
}
.w3css-jane-bloglife .usr-ads .w3-display-container {
  min-height: 200px;
}
.w3css-jane-bloglife .usr-main-photo button,
.w3css-jane-bloglife header h3 {
  text-transform: uppercase;
}
.js-focus-visible .w3css-jane-bloglife .focus-visible {
  outline: 2px solid var(--colorRed);
}
.js-focus-visible .w3css-jane-bloglife .w3-bar .focus-visible {
  outline-offset: -2px;
}
body.w3css-photolio {
  font-family: 'Montserrat', sans-serif;
}
.w3css-photolio h1 {
  text-transform: uppercase;
}
.w3css-photolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.w3css-photolio nav {
  width: 100%;
}
.w3css-photolio nav a {
  text-decoration: none;
}
.w3css-photolio img {
  width: 100%;
  height: auto;
}
.w3css-photolio .w3-content {
  max-width: 1500px;
}
.w3css-photolio .usr-burger {
  width: 50px;
  height: 20px;
  box-shadow: 0 3px 0 0 var(--colorGrey);
}
.w3css-photolio .usr-burger::before,
.w3css-photolio .usr-burger::after {
  height: 3px;
  background-color: var(--colorGrey);
}
.js-focus-visible .w3css-photolio .focus-visible {
  outline: 2px solid var(--colorGrey);
}
body.w3css-photographer {
  font-family: 'Raleway', sans-serif;
}
.w3css-photographer h1 {
  font-weight: 350;
}
.w3css-photographer header p {
  font-weight: 300;
  text-transform: uppercase;
}
.w3css-photographer img {
  width: 100%;
  height: auto;
}
.w3css-photographer .w3-content {
  max-width: 1500px;
}
.js-focus-visible .w3css-photographer .focus-visible {
  outline: 2px solid var(--colorGrey);
}
.js-focus-visible .w3css-photographer nav .focus-visible {
  outline-offset: -2px;
}
.w3css-photographer-2 header p,
.w3css-photographer-2 h1 {
  text-transform: uppercase;
}
.w3css-photographer-2 nav {
  position: static;
  transform: translate(0, 0);
}
@media (min-width: 601px) {
  .w3css-photographer-2 nav {
    position: absolute;
    transform: translate(-50%, 50%);
  }
}
.w3css-photographer-2 img {
  width: 100%;
  height: auto;
}
.w3css-photographer-2 header.w3-content {
  width: 100%;
  max-width: 1500px;
}
.js-focus-visible .w3css-photographer-2 .focus-visible {
  outline: 2px solid var(--colorGrey);
}
.js-focus-visible .w3css-photographer-2 nav .focus-visible {
  outline-offset: -2px;
}
body.w3css-web-designer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.w3css-web-designer h1,
.w3css-web-designer h2,
.w3css-web-designer h3 {
  font-family: 'Montserrat', sans-serif;
}
.w3css-web-designer p {
  color: var(--colorGrey);
}
.w3css-web-designer img {
  width: 100%;
  height: auto;
}
.w3css-web-designer nav {
  width: 120px;
  z-index: 3;
  background-color: var(--colorBlack2);
}
@media (min-width: 601px) {
  .w3css-web-designer nav {
    display: block;
  }
}
.w3css-web-designer .w3-overlay {
  background-color: rgba(0, 0, 0, 0.9);
}
.w3css-web-designer nav a {
  text-transform: uppercase;
}
.w3css-web-designer main,
.w3css-web-designer footer {
  margin-left: 0;
}
@media (min-width: 601px) {
  .w3css-web-designer main,
  .w3css-web-designer footer {
    margin-left: 120px;
  }
}
.w3css-web-designer .w3-jumbo {
  margin-top: 0;
  margin-bottom: 0;
}
.w3css-web-designer hr {
  width: 200px;
}
.w3css-web-designer .usr-bar .w3-grey {
  height: 24px;
}
.w3css-web-designer .usr-bar:nth-of-type(1) .w3-grey {
  width: 90%;
}
.w3css-web-designer .usr-bar:nth-of-type(2) .w3-grey {
  width: 80%;
}
.w3css-web-designer .usr-bar:nth-of-type(3) .w3-grey {
  width: 70%;
}
.w3css-web-designer .usr-price .w3-col {
  margin-bottom: 16px;
}
.w3css-web-designer .usr-price .w3-col:last-child {
  margin-bottom: 0;
}
@media (min-width: 601px) {
  .w3css-web-designer .usr-price .w3-col {
    margin-bottom: 0;
  }
}
.w3css-web-designer .usr-review li {
  border: none;
}
.w3css-web-designer .usr-review img {
  width: 80px;
}
.w3css-web-designer form button {
  text-transform: uppercase;
}
.w3css-web-designer .usr-burger {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 50px;
  height: 20px;
  box-shadow: 0 3px 0 0 var(--colorGrey);
}
.w3css-web-designer .usr-burger::before,
.w3css-web-designer .usr-burger::after {
  height: 3px;
  background-color: var(--colorGrey);
}
@media (min-width: 601px) {
  .w3css-web-designer .usr-burger {
    display: none;
  }
}
.js-focus-visible .w3css-web-designer .focus-visible {
  outline: 2px solid var(--colorWhite);
}
.js-focus-visible .w3css-web-designer input.focus-visible,
.js-focus-visible .w3css-web-designer textarea.focus-visible {
  outline-offset: 2px;
}
.js-focus-visible .w3css-web-designer nav .focus-visible {
  outline-offset: -2px;
}
