/*@import 'global/normalize.less';*/
/* @font-face {
  font-family: 'Poppins';
  src: url('../../fonts/woff2/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/woff2/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
} */
/* переменные css */
:root {
  /* переменные цвета */
  --colorWhite: #ffffff;
  --colorBlack: #000000;
}
/* переменные less */
/* переменные вьюпорта */
/* центровщик */
/* переменные плотности экрана */
/* центровщик контента */
/* кастомный фокус */
/* параметры текста mibile */
/* параметры текста tablet */
/* параметры текста desktop */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100vh;
  min-width: 280px;
}
/* только для скринридера */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/* настройки кастомного фокуса */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}
/* сслыка пропуска меню */
.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  padding: 10px;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.skip-link:focus {
  top: 0;
}
/*standart tag*/
textarea {
  resize: vertical;
}
footer {
  flex-grow: 1;
}
/*burger*/
.usr-burger {
  position: absolute;
  top: 28px;
  right: 32px;
  display: block;
  width: 40px;
  height: 20px;
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--colorBlack);
  background-color: transparent;
}
.usr-burger::before,
.usr-burger::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  background-color: var(--colorBlack);
}
.usr-burger::before {
  top: 0;
  left: 0;
  width: 100%;
}
.usr-burger::after {
  top: 50%;
  right: 0;
  width: 100%;
}
.usr-burger--open {
  animation-name: burgerOpen;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--open::after {
  animation-name: burgerAfterOpen;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--open::before {
  animation-name: burgerBeforeOpen;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close {
  animation-name: burgerClose;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close::after {
  animation-name: burgerAfterClose;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.usr-burger--close::before {
  animation-name: burgerBeforeClose;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
@keyframes burgerOpen {
  0% {
    border-bottom: 2px solid var(--colorBlack);
  }
  100% {
    border-bottom: 2px solid transparent;
  }
}
@keyframes burgerAfterOpen {
  0% {
    width: 100%;
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translateY(-50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeOpen {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
@keyframes burgerClose {
  0% {
    border-bottom: 2px solid var(--colorBlack);
  }
  100% {
    border-bottom: 2px solid transparent;
  }
}
@keyframes burgerAfterClose {
  0% {
    width: 100%;
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translateY(-50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeClose {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
.w3css-gourment-catering header {
  padding-top: 76px;
}
@media (min-width: 601px) {
  .w3css-gourment-catering header {
    padding-top: 54px;
  }
}
.w3css-gourment-catering .usr-menu {
  width: 100%;
}
@media (min-width: 601px) {
  .w3css-gourment-catering .usr-menu {
    width: auto;
  }
}
.w3css-gourment-catering img {
  width: 100%;
  height: auto;
}
.w3css-gourment-catering .usr-main-image {
  max-width: 1600px;
}
.w3css-gourment-catering address {
  font-style: normal;
}
.w3css-gourment-catering .usr-navbrand {
  width: 130px;
}
@media (min-width: 601px) {
  .w3css-gourment-catering .usr-navbrand {
    width: auto;
  }
}
.w3css-architect header {
  padding-top: 54px;
}
.w3css-architect .usr-burger {
  top: 17px;
}
.w3css-architect .usr-menu {
  width: 100%;
}
@media (min-width: 601px) {
  .w3css-architect .usr-menu {
    width: auto;
  }
}
.w3css-architect img {
  width: 100%;
  height: auto;
}
.w3css-architect .w3-content {
  max-width: 1500px;
}
